
<div class="divmain ">
    <div class="divetc card" style="margin-right: 95px; margin-left: 5%; margin-top: 5%;" >
     <h5 > Expense Categories & Withdrawal Relationship</h5>
     <img src="assets/image1.png" height="200px" style="margin-right:20px; margin-top: 10px;">
     <h6 style="text-align: center; padding-top: 10%;" > Illustrates your expenses as categories and the amount spent on each category for the given statement</h6>
      
      <button type="button" class="btn btn-info" style="margin-top: 20%; margin-right:6% ;" (click)="OnPress()" >Show Analysis</button>
    </div>
    <div class="divetc card"style="margin-right: 95px;margin-left: 5%; margin-top: 5%;">
        <h5 > Date & Withdrawal Relationship</h5>
        <img src="assets/images2.png" height="200px" style="margin-right:20px; margin-top: 10px;">
        <h6 style="text-align: center; padding-top: 10%;" > Illustrates your withdrawl expenses  and the amount spent on each day for the given statement</h6>
        
      <button type="button" class="btn btn-info" style="margin-top: 20%; margin-right:6% ;" (click)="Onclick()" >Show Analysis</button>
    </div>
    <div class="divetc card" style="margin-left: 5%; margin-top: 5%;">

        <h5 > Expense Categories & Withdrawal Relationship</h5>
        <img src="assets/images3.png" height="200px" style="margin-right:20px; margin-top: 10px;">
        <h6 style="text-align: center; padding-top: 10%;" > Illustrates your expenses as categories and the amount spent on each category for the given statement</h6>
      <button type="button" class="btn btn-info" style="margin-top: 20%; margin-right:6% ;" (click)="OnCheck()">Show Analysis</button>
      
    </div>
